/* Глобальные стили для проекта, их можно дополнять и менять по желанию */
@import url('./variables.css');

@font-face {
  font-family: 'IBM Plex mono';
  src: url(../fonts/IBMPlexMono-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex mono';
  src: url(../fonts/IBMPlexMono-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

main {
  margin-top: 60px;
  margin-bottom: 60px;
}

section {
  padding: 0 20px;
}

section:not(:first-of-type) {
  margin-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 18px;
  line-height: 23.4px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (width <= 600px) {

  main {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  section {
    padding: 0 10px;
  }

  section:not(:first-of-type) {
    margin-top: 50px;
  }
}